<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="6">
    <listeners>
        <listener class-name="TestNGTutorial.Listeners"></listener>
    </listeners>

    <test verbose="2" preserve-order="true" name="C:/Users/Tezgel/Desktop/projects/kursat_deneme">
        <parameter name="URL" value="personalloan.com"></parameter>

        <classes>
            <class name="TestNGTutorial.Demo">
                <methods>
                    <include name="Demo"></include>
                </methods>
            </class>
            <class name="TestNGTutorial.Demo2"></class>
            <class name="TestNGTutorial.LoginHome"></class>
        </classes>
    </test>


    <test name="Car Loan">
        <parameter name="URL" value="carloan.com"></parameter>
        <parameter name="APIKey/username" value="123456"></parameter>
        <classes>
            <class name="TestNGTutorial.LoginCar">
                <methods>

                    <exclude name="API.*"></exclude>
                    <!--<exclude name="Mobile.*"></exclude>  -->
                </methods>
            </class>
        </classes>
    </test>
</suite>